/*My own SASS*/

*::before::after{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: hsl(217, 54%, 11%);
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
}

main{
    background-color: hsl(216, 50%, 16%);
    align-self: center;
    width: 300px;
    height: 530px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5%;
    z-index: 2;
    min-width: auto;
    min-height: auto;
}

*p{
    margin: 0;
}

figure{
    width: 100%;
    height: 54%;
    margin: 0;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }   
}


/*.shine {
    position: relative;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    
    background-image: -webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );
    background-image: -moz-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );    
    background-image: -o-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );
    background-image: linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );
    
    -moz-background-size: 250% 250%, 100% 100%;
            background-size: 250% 250%, 100% 100%;
    
    -webkit-transition: background-position 0s ease;
        -moz-transition: background-position 0s ease;       
            -o-transition: background-position 0s ease;
            transition: background-position 0s ease;
}


  .shine:hover {
    background-position: 0 0, 0 0;
    
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }*/
  
  .shine {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .shine::before {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: 0;
    display: none;
    content: "";
    width: 30%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
  }
  
  .shine:hover::before {
    display: block;
    -webkit-animation: shine 0.4s forwards;
    animation: shine 0.4s forwards;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
  }
  
  @-webkit-keyframes shine {
    100% {
      left: 105%;
    }
  }
  @keyframes shine {
    100% {
      left: 105%;
    }
  }  
    


h1{
    color: white;
    margin: 0;
}

p{
    color: hsl(215, 51%, 70%);
}

section{
display: flex;
flex-direction: row;
justify-content: space-between;
height: fit-content;
width: auto;

    article{
        display: flex;
        width: 40%;
        height: 20px;  
    }
}

.price p{
    color: hsl(177, 100%, 96%);
    padding-left: 5px;
}
    
.time {
    justify-content: flex-end;

    p{
    padding-left: 5px;
    }
}


.ze_creator{
    border-top: 1px solid hsl(215, 51%, 70%);
    display: flex;
    padding-top: 20px;

    img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 1px solid white;
    }

    p{
        align-self: center;
        padding-left: 10px;
    }

    span{
        color: white;
    }
}

.attribution{
    color:hsl(215, 51%, 70%) ;
    position: absolute;
    right: 1%;
    bottom: 1%;
    z-index: 1;
}



















.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }